<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
   <div class="header">
        <h3 class="text-muted">Your Share calculator for {{ticker}}:</h3>
   </div>
 {% if cname %}
 <h3>Details:</h3><br/><pre>
    <ul>
      <li>Total commision paid is: {{totalCommision}}</li>
      <li>Company name for ticker is: {{cname}}</li>
      <li>Total cost is: {{cost}}</li>
      <li>Your proceeds are: {{proceeds}}</li>
      <li>Tax rate you paid is: {{taxRate}}</li>
      <li>Total tax in dollars is: {{taxTotal}}</li>
      <li>Total net profit is: {{netProfit}}</li>
      <li>Your return on investment (ROI): {{roiPerc}}</li>
      <li>Your break even price is: {{breakEvenDollar}}</li>
    </ul>
    </pre>
    
 {% else %}
 <h3>The symbol entered is not correct. Please go back and correct the symbol.</h3>
    
  {%endif%}
      </div>
    </div>
  </body>
</html>

